@import './mixins';

.searchResults {
  .container-panel;
  overflow-y: scroll;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  transition: all 0.2s;
  z-index: 3;

  &.empty {
    bottom: -380px;
  }

  ul {
    height: 400px;
  }

  .search-item {
    border-top: 1px solid #EEE;
    margin: 10px;
    padding: 10px;
  }
  .search-item:first-child {
    border-top: none;
  }
}

